<div class="hero">

<h1>
AVENTURA DOS 4 REINOS
</h1>

<p>
Descubra o que fortalece o seu mundo
</p>

</div>
<div class="panel">
<h3>📜 Manuscritos 📜</h3>


<div class="menu-item">
<a href="https://docs.google.com/document/d/1qt46QyIg9FMpVmxUm1JxJRsq5buUrah0v5aBZuZJ8nI/edit?tab=t.0#heading=h.t304qsyamqjm" target="_blank" rel="noopener noreferrer">
🗺️ Regras dos 4 Reinos
</a>
</div>

<div>
<a href="https://docs.google.com/document/d/1XFM1O2wIkeUDFCZcgkm25MLTpYETfVbSVz-8b0z-NNQ/edit?tab=t.0#heading=h.vanhq8dmvaks" target="_blank" rel="noopener noreferrer">
🗺️ Guia da Missão 1
</a>
</div>



</div>
